html {
	font-size: 10px;
	box-sizing: border-box;
}
body {
	margin: 0;

}


h1 {
	font-size: 5rem;
}



h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 2rem;
}

nav {
	background-color: #4393e8;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	align-items: center;
	position: fixed;
	z-index: 10;
	width: 100vw;
}

.link {
    color: #2a3749;
    text-decoration: none;
	padding: 30px;
	font-size: 1.5rem;
	
}

header {
	background-color: #4393e8;
	display: flex;
	width: 100vw;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 65px;
	margin: 0px;
}

#coder {
	position: relative;
	padding-top: 15px;
	width: 30%;
}

#about {
	background-color: #bb3ce6;
	padding-top: 25px;
	padding-bottom: 50px;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.paragraph {
	width: 50%;
	display: block;
	text-align: center;
	margin: 0 auto;
}

#portfolio {
	background-color: #e85f8f;
	display: flex;
	padding-top:50px;
	padding-left: 50px;
	padding-bottom: 200px;
	padding-right: 50px;
	flex-direction: column;
	text-align: center;
	
}

.project {
	border: 1px solid #2a3749;
	padding: 50px;
	margin-bottom: 50px;
	margin: 0 auto;
	width: 85%;
	margin-top: 50px;
}

.project .content {
	display: flex;
	justify-content: space-between;
	gap: 50px ;
	
}

#socials {
	background-color: #f06ee5;
	display: flex; 
	justify-content: center;
	padding: 10px 0;
	padding-bottom: 75px;
	align-items: center;
	z-index: 10;
	width: 100vw;
	flex-direction: column;
}        

.buttons {
	display: flex;
	font-size: 6rem;
	padding-right: 80px;
	padding-left: 80px;
	flex-direction: row;
	text-decoration: none;
}





@media screen and (max-width: 600px) {
	html{
		font-szie: 12px;
	}
	
	nav {
		padding: 10px 0;
	}
	
	h1 {
		font-size: 4rem;
	}
	.project-image {
		width: 100%;
	}
	.project  {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding-right: 10px;
		padding-left: 10px;
	}
	.project .content {
		display: flex; 
		flex-direction: column;
	}
	
	.buttons	{
		padding: 10px;
	}
	
}


